:root {
    /*<------------> 
        #SPACING
    /*------------->*/
    --spacing-35x: 140px;
    --spacing-30x: 120px;
    --spacing-25x: 100px;
    --spacing-23x: 92px;
    --spacing-18x: 72px;
    --spacing-16x: 64px;
    --spacing-13x: 52px;
    --spacing-12x: 48px;
    --spacing-10x: 40px;
    --spacing-8x: 32px;
    --spacing-7x: 28px;
    --spacing-6x: 24px;
    --spacing-5x: 20px;
    --spacing-4x: 16px;
    --spacing-3x: 12px;
    --spacing-2x: 8px;
    --spacing-1x: 4px;


    /* Line height  */
    --line-height-headline: 1.1em;
    --line-height-subhead: 1.3em;
    --line-height-body: 1.6em;
    --line-height-label: 1.15em;


    /* Tracking  */
    --tracking-headline: -0.022em;


    /* Border Radius  */
    --radius-full: 999px;
    --radius-lg: 36px;
    --radius-md: 24px;
    --radius-sm: 10px;
    --radius-btn: 10px;


    /*<-----------------> 
        #TYPOGRAPHY
    /*------------------>*/

    /* Font Family  */
    --primary-font: "Inter", arial, sans-serif;
    --secondary-font: "poppins", arial, sans-serif;

    /* Font Text Size  */
    --text-base: 0.8rem;

    --text-size-h1: 4.25rem;
    --text-size-h2: 2.65rem;
    --text-size-h3: 1.565rem;
    --text-size-h4: 1.407rem;
    --text-size-h5: 1.75rem;
    --text-size-h6: 1.45rem;
    --text-size-title: 1.4rem;
    --text-size-p: 1.25rem;
    --text-size-small: 1.1rem;
    --text-size-btn: 1.25rem;

    /* Font Weight  */
    --fw-900: 900;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;


    /*<---------> 
        #COLOR
    /*---------->*/

    /* Text Color  */
    --color-text-primary: #181E4B;
    --color-text-primary-dark: #14183E;
    --color-text-primary-light: #1E1D4C;
    --color-text-secondary: #5E6282;
    --color-text-accent: #DF6951;
    --color-text-black: #212832;
    --color-text-white: #fff;

    /* Background Color  */
    --color-bg-white: #fff;
    --color-bg-accent: #df6951;
    --color-bg-accent-light: #F1A501;

    /* Border Color  */
    --color-border-grey: #e1e1e1;

    /* Box Shadow  */
    --box-shadow-1: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    --box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    /* Border  */
    --border-1: 1px solid var(--color-border-grey);
}

/*<----------> 
     #BLOCK
/*----------->*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--text-base);
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg-white);
    color: var(--color-text-secondary);
    font-size: var(--text-size-p);
    line-height: var(--line-height-body);
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    letter-spacing: var(--tracking-headline);
    line-height: var(--line-height-headline);
}

p {
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    line-height: var(--line-height-label);
    outline: none;
}

input,
input:focus {
    border: none;
    outline: none;
}

/*<--------------------> 
   #Element & Modifiers
/*--------------------->*/

/* Utilities  */
.u-headline-lg {
    color: var(--color-text-primary);
    font-size: var(--text-size-h1);
}

.u-headline-md {
    font-size: var(--text-size-h2);
    color: var(--color-text-primary-dark);
    max-width: 300px;
    margin: var(--spacing-3x) auto;
    text-align: center;

}

.u-section-label {
    font-weight: var(--fw-500);
    font-size: var(--text-size-h6);
    text-align: center;
}

.u-title {
    font-size: var(--text-size-title);
}

.u-text-center {
    text-align: center;
}

.u-justify-center {
    justify-content: center;
}

.u-justify-between {
    justify-content: space-between;
}

.u-align-center {
    align-items: center;
}


.u-block-center {
    align-items: center;
    justify-content: center;
}

.btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: var(--radius-btn);
    font-size: var(--text-size-btn);
    display: inline-flex;
    justify-content: center;
    max-width: max-content;
    -moz-appearance: none;
    text-align: center;
    -webkit-appearance: none;
}

.btn:focus,
.btn:active {
    background-color: transparent;
    outline: none;
}

.btn--primary {
    background-color: var(--color-bg-accent-light);
    color: var(--color-text-white);
}

.btn--accent {
    background-color: var(--color-bg-accent);
    color: var(--color-text-white);
}

.btn--sm {
    height: 55px;
    padding: var(--spacing-4x) var(--spacing-6x);
}

/* Layout */
.l-container {
    padding-left: var(--spacing-5x);
    padding-right: var(--spacing-5x);
}

.l-inner {
    padding-top: var(--spacing-16x);
    padding-bottom: var(--spacing-16x);
}

.l-flex-row {
    display: flex;
}

.l-flex-col {
    display: flex;
    flex-direction: column;
}

.l-grid {
    display: grid;
}

/* Header  */
.header {
    padding: var(--spacing-7x) 0;
    position: relative;
}

.header__menu {
    width: 30px;
}

.header__overlay {
    background-color: rgba(0, 0, 0, 0.15);
    height: 100vh;
    left: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    transition: opacity 400ms ease;
    width: 100%;
    z-index: 3;
}

.header__overlay.is-open {
    visibility: visible;
}

.logo {
    width: 100px;
}

.navbar {
    background-color: var(--color-bg-white);
    gap: var(--spacing-10x);
    height: 100vh;
    left: 0;
    max-width: 375px;
    opacity: 0;
    position: fixed;
    padding: var(--spacing-7x) var(--spacing-7x);
    top: 0;
    transform: translateX(-100%);
    transition: all 400ms ease;
    width: 100%;
    z-index: 4;
}

.navbar.is-open {
    opacity: 1;
    transform: translateX(0)
}

.navbar__list {
    gap: var(--spacing-4x);
}

.navbar__link {
    font-weight: var(--fw-500);
    position: relative;
}

.navbar__link::after {
    background-color: var(--color-bg-accent);
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    transition: all 420ms ease;
}

.navbar__link:hover::after {
    width: 100%;
    opacity: 1;
}

.navbar__action {
    gap: var(--spacing-6x);
    margin-top: auto;
    margin-bottom: var(--spacing-4x);
}

.navbar__btn {
    border: 1px solid var(--color-text-black);
    padding: var(--spacing-2x) var(--spacing-7x);
}

/* Hero  */

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-image: url("/assets/images/hero-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.hero__inner {
    gap: var(--spacing-8x);
}

.hero__content {
    margin-bottom: var(--spacing-6x);
}

.hero__title {
    color: var(--color-text-accent);
    font-family: var(--secondary-font);
    font-size: var(--text-size-title);
    font-weight: var(--fw-600);
    margin-bottom: var(--spacing-4x);
}

.hero__tag {
    position: relative;
    z-index: 2;
}

.hero__tag::after {
    background-image: url("Jadoo/assets/images/line.png");
    bottom: 5px;
    content: "";
    left: -15px;
    position: absolute;
    width: 110%;
    height: 8px;
    z-index: -1;
}

.hero__desc {
    max-width: 500px;
    padding: var(--spacing-6x) 0;
}

.hero__action {
    gap: var(--spacing-5x);
}

.hero__btn {
    gap: var(--spacing-2x);
    color: #686D77;
    font-weight: var(--fw-500);
}

.hero__play {}

.hero__banner {
    max-width: 540px;
    margin: 0 auto;
    width: 100%;
}

/* Service */
.service {
    position: relative;
}

.service__bg {
    top: 60px;
    position: absolute;
    right: 0;
    width: 100px;
}

.service__list {
    margin-top: var(--spacing-8x);
    gap: var(--spacing-10x);
}

.service__item {
    background: var(--color-bg-white);
    box-shadow: var(--box-shadow-1);
    border-radius: var(--radius-md);
    padding: var(--spacing-4x);
    gap: var(--spacing-3x);
    position: relative;
}

.service__item:nth-child(2)::after {
    background-image: url("Jadoo/assets/images/destination-bg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -10px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.service__img {
    width: 60px;
}

.service__title {
    font-family: var(--secondary-font);
    font-size: var(--text-size-h3);
    font-weight: var(--fw-500);
}

/* Destination  */
.dest__list {
    margin-top: var(--spacing-8x);
    gap: var(--spacing-10x);
}

.dest__bg {
    bottom: 80px;
    position: absolute;
    right: -50px;
    width: 100px;
    z-index: -1;
}


.dest__item {
    font-weight: var(--fw-500);
    position: relative;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--radius-md);
    position: relative;
}

.dest__img {
    margin-bottom: var(--spacing-2x);
    width: 100%;
}

.dest__content {
    padding: 0 var(--spacing-5x) var(--spacing-5x);
    position: relative;
}

.dest__header {
    margin-bottom: var(--spacing-2x);
    font-size: var(--text-size-title);
}

.dest__duration {
    gap: var(--spacing-2x);
}

/* Book */
.book__steps {
    margin-top: var(--spacing-8x);
    gap: var(--spacing-10x);
}

.book__icon {
    max-width: 40px;
}

.book__title {
    margin: var(--spacing-4x) 0 var(--spacing-2x);
}

.book__cover {
    background-image: url("Jadoo/assets/images/book__cover.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    margin-top: var(--spacing-4x);
}

.book__img {
    margin-top: var(--spacing-6x);
    width: 100%;
}

/* Testimonial */
.testimonial__img {
    width: 100%;
    max-width: 60px;
}

.testimonial__list {
    margin-top: var(--spacing-8x);
}

.testimonial__item {
    border-radius: var(--radius-sm);
    box-shadow: var(--box-shadow-2);
    margin: var(--spacing-1x) 0;
    padding: var(--spacing-4x);
}

.testimonial__desc {
    margin: var(--spacing-4x) 0 var(--spacing-6x);
}

.testimonial__owner {
    font-size: var(--text-size-h6);
    font-weight: var(--fw-500);
}

.testimonial__location {
    font-size: var(--text-size-small);
}

/* Partners  */
.partners__list {
    gap: var(--spacing-6x);
}

.partners__img {
    width: 130px;
}

/* Newsletter  */
.newsletter {
    position: relative;
}

.newsletter__bg {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100px;
    z-index: -1;
}

.newsletter__wrapper {
    background-image: url("Jadoo/assets/images/form-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--spacing-8x) var(--spacing-4x);
    width: 100%;
}

.newsletter__headline {
    font-size: var(--text-size-h5);
    font-weight: var(--fw-600);
    max-width: 545px;
    margin: 0 auto;
    line-height: var(--line-height-headline);
}

.newsletter__form-control {
    height: 55px;
    margin: var(--spacing-6x) 0;
    position: relative;
    width: 100%;
}

.newsletter__input {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-sm);
    border: var(--border-1);
    height: 100%;
    padding: 0 var(--spacing-4x) 0 var(--spacing-13x);
    width: 100%;
}

.newsletter__icon {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(25px, -50%);
}

.newsletter__btn {
    max-width: 100%;
    width: 100%;
}

/* Footer */
.footer__inner {
    padding-bottom: var(--spacing-5x);
}

.footer__list {
    gap: var(--spacing-8x);
}

.footer__item {
    gap: var(--spacing-4x);
}

.footer__nav-list {
    gap: var(--spacing-1x);
}

.footer__logo {
    width: 120px;
}

.footer__title {
    color: var(--color-text-primary-dark);
    font-size: var(--text-size-h4);
    font-weight: var(--fw-600);
}

.footer__text {
    font-size: var(--text-size-h6);
    font-weight: var(--fw-500);
    margin: var(--spacing-2x) 0 var(--spacing-4x);
}

.footer__text--small {
    font-size: var(--text-size-small);
}

.footer-brand {
    gap: unset;
}

.footer__social {
    gap: var(--spacing-2x);
}

.footer__store {
    gap: var(--spacing-3x);
}

.footer__rights {
    font-size: var(--text-size-small);
    margin-top: var(--spacing-5x);
}

/*<--------------------> 
   #Screen Breakpoints
/*--------------------->*/

/* Screen larger than 575px  */
@media only screen and (min-width:575px) {

    /* Layout  */
    .l-container {
        max-width: 545px;
        margin: 0 auto;
    }
}

/* Screen larger than 768px  */
@media only screen and (min-width:760px) {

    /* Root  */
    :root {

        --text-size-h1: 5.35rem;
        --text-size-h2: 4rem;
        --text-size-h4: 1.407rem;
        --text-size-h5: 2.6rem;
    }

    /* Layout  */
    .l-container {
        max-width: 720px;
    }

    /* Utilities */
    .u-headline-md {
        max-width: 640px;
    }

    /* Hero  */
    .hero__action {
        gap: var(--spacing-8x);
    }

    .hero__btn {
        gap: var(--spacing-5x);
    }

    /* Service  */
    .service__list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: var(--spacing-12x);
    }

    /* Destination  */
    .dest__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-6x);
        margin-top: var(--spacing-12x);
    }

    .dest__item {
        width: 46.8%;
    }

    /* Book  */
    .book__steps {
        grid-template-columns: repeat(2, 1fr);
        margin-top: var(--spacing-12x);
    }

    /* Testimonials  */
    .testimonial__item {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--spacing-6x);
    }

    /* Partners  */
    .partners__list {
        flex-direction: row;
    }

    /* Newsletter  */
    .newsletter__headline {
        margin-bottom: var(--spacing-6x);
    }

    .newsletter__form-group {
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-4x);
    }

    .newsletter__btn {
        width: unset;
    }

    /* Footer  */
    .footer__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__text--small {
        max-width: 250px;
    }
}