:root {
    /*<------------> 
        #SPACING
    /*------------->*/
    --spacing-35x: 140px;
    --spacing-30x: 120px;
    --spacing-25x: 100px;
    --spacing-23x: 92px;
    --spacing-20x: 80px;
    --spacing-18x: 72px;
    --spacing-16x: 64px;
    --spacing-13x: 52px;
    --spacing-12x: 48px;
    --spacing-10x: 40px;
    --spacing-8x: 32px;
    --spacing-7x: 28px;
    --spacing-6x: 24px;
    --spacing-5x: 20px;
    --spacing-4x: 16px;
    --spacing-3x: 12px;
    --spacing-2x: 8px;
    --spacing-1x: 4px;

    /* Line height  */
    --line-height-headline: 1.1em;
    --line-height-subhead: 1.3em;
    --line-height-body: 1.6em;
    --line-height-label: 1.15em;

    /* Tracking  */
    --tracking-headline: -0.022em;

    /* Border Radius  */
    --radius-full: 999px;
    --radius-lg: 36px;
    --radius-md: 24px;
    --radius-sm: 10px;
    --radius-btn: 10px;

    /*<-----------------> 
        #TYPOGRAPHY
    /*------------------>*/

    /* Font Family  */
    --primary-font: "Inter", arial, sans-serif;
    --secondary-font: "poppins", arial, sans-serif;
    --headline-font: "Volkhov", serif;

    /* Font Text Size  */
    --text-base: 0.8rem;

    --text-size-h1: 3.6rem;
    --text-size-h2: 2.65rem;
    --text-size-h3: 1.565rem;
    --text-size-h4: 1.407rem;
    --text-size-h5: 1.75rem;
    --text-size-h6: 1.45rem;
    --text-size-title: 1.4rem;
    --text-size-p: 1.25rem;
    --text-size-small: 1.1rem;
    --text-size-btn: 1.25rem;

    /* Font Weight  */
    --fw-600: 600;
    --fw-500: 500;

    /*<---------> 
        #COLOR
    /*---------->*/

    /* Text Color  */
    --color-text-primary: #181e4b;
    --color-text-primary-dark: #14183e;
    --color-text-primary-light: #1e1d4c;
    --color-text-secondary: #5e6282;
    --color-text-accent: #df6951;
    --color-text-black: #212832;
    --color-text-white: #fff;

    /* Background Color  */
    --color-bg-primary: #181e4b;
    --color-bg-white: #fff;
    --color-bg-accent: #df6951;
    --color-bg-accent-light: #f1a501;

    /* Border Color  */
    --color-border-grey: #e1e1e1;

    /* Box Shadow  */
    --box-shadow-1: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    --box-shadow-2: 1px 2px 15px 5px rgb(233 232 232 / 99%);
    --box-shadow-3: rgba(138, 140, 142, 0.2) 0px 8px 24px;
    --box-shadow-4: 2px 2px 65px 12px rgb(233 232 232 / 99%);
    /* Border  */
    --border-1: 1px solid var(--color-border-grey);

    /*<-------------------------> 
        Animation | Transition
    /*-------------------------->*/
    --transition-1: 420ms ease;
    --transition-2: 300ms ease;
}

/*<----------> 
     #BLOCK
/*----------->*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--text-base);
    font-family: var(--secondary-font);
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg-white);
    color: var(--color-text-secondary);
    font-size: var(--text-size-p);
    line-height: var(--line-height-body);
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--primary-font);
    font-size: inherit;
    letter-spacing: var(--tracking-headline);
    line-height: var(--line-height-headline);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


input {
    outline: none;
}


a:active {
    outline: none;
}

p,
span {
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    line-height: var(--line-height-label);
    outline: none;
}

button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

/*<--------------------> 
   #Element & Modifiers
/*--------------------->*/

/* Utilities  */
.u-headline-lg {
    color: var(--color-text-primary);
    font-family: var(--headline-font);
    font-size: var(--text-size-h1);
}

.u-headline-md {
    color: var(--color-text-primary-dark);
    font-family: var(--headline-font);
    font-size: var(--text-size-h2);
    max-width: 300px;
    margin: var(--spacing-4x) auto;
    text-align: center;
    text-transform: capitalize;
}

.u-section-label {
    font-weight: var(--fw-500);
    font-size: var(--text-size-h6);
    text-align: center;
}

.u-title {
    font-size: var(--text-size-title);
}

.u-text-center {
    text-align: center;
}

.u-justify-center {
    justify-content: center;
}

.u-justify-between {
    justify-content: space-between;
}

.u-align-center {
    align-items: center;
}

.u-block-center {
    align-items: center;
    justify-content: center;
}

.btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: var(--radius-btn);
    font-size: var(--text-size-btn);
    display: inline-flex;
    justify-content: center;
    max-width: max-content;
    -moz-appearance: none;
    text-align: center;
    transition: all var(--transition-1);
    -webkit-appearance: none;
}

.btn--primary {
    background-color: var(--color-bg-accent-light);
    color: var(--color-text-white);
}

.btn--primary:is(:hover, :focus-visible),
.btn--accent:is(:hover, :focus-visible) {
    background-color: var(--color-bg-primary);
}

.btn--accent {
    background-color: var(--color-bg-accent);
    color: var(--color-text-white);
}

.btn--sm {
    height: 55px;
    padding: var(--spacing-4x) var(--spacing-6x);
}

.btn--md {
    height: 55px;
    padding: var(--spacing-4x) var(--spacing-8x);
}

/* Layout */
.l-container {
    padding-left: var(--spacing-5x);
    padding-right: var(--spacing-5x);
}

.l-inner {
    padding-top: var(--spacing-18x);
    padding-bottom: var(--spacing-18x);
}

.l-flex-row {
    display: flex;
}

.l-flex-col {
    display: flex;
    flex-direction: column;
}

.l-grid {
    display: grid;
}

/* Header  */
.header {
    padding: var(--spacing-6x) 0;
    position: relative;
    background-color: var(--color-bg-white);
    width: 100%;
    line-height: 0;
}

.header.is-active {
    box-shadow: var(--box-shadow-3);
    position: fixed;
    top: 0;
    animation: SlideDown var(--transition-1) forwards;
    z-index: 4;
}

@keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.header__menu {
    width: 25px;
    z-index: 3;
    position: relative;
}

.header__overlay {
    background-color: rgba(0, 0, 0, 0.15);
    height: 100vh;
    left: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    transition: opacity 400ms ease;
    width: 100%;
    z-index: 3;
}

.header__overlay.is-open {
    visibility: visible;
}

.logo {
    width: 85px;
    position: relative;
    z-index: 3;
}

.navbar {
    background-color: var(--color-bg-white);
    gap: var(--spacing-10x);
    height: 100vh;
    left: 0;
    max-width: 280px;
    opacity: 0;
    position: fixed;
    padding: var(--spacing-5x);
    top: 0;
    transform: translateX(-100%);
    transition: all var(--transition-1);
    width: 100%;
    z-index: 4;
}

.navbar.is-open {
    opacity: 1;
    transform: translateX(0);
}

.navbar__list {
    gap: var(--spacing-4x);
    line-height: var(--line-height-body);
}

.navbar__link {
    color: var(--color-text-black);
    font-weight: var(--fw-500);
    position: relative;
}

.navbar__link::after {
    background-color: var(--color-bg-accent);
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    transition: all var(--transition-1);
}

.navbar__link:hover::after {
    width: 100%;
    opacity: 1;
}

.navbar__action {
    color: var(--color-text-black);
    font-weight: var(--fw-500);
    gap: var(--spacing-6x);
    margin-top: auto;
    margin-bottom: var(--spacing-10x);
    line-height: var(--line-height-body);
}

.navbar__btn {
    height: 50px;
    transition: all var(--transition-2);
    border: 1px solid var(--color-text-black);
    padding: var(--spacing-2x) var(--spacing-7x);
}

.navbar__btn:hover {
    background-color: var(--color-bg-accent);
    color: var(--color-text-white);
    border-color: transparent;
}

/* Hero  */

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-image: url("../images/hero-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.hero__inner {
    gap: var(--spacing-8x);
    padding-top: var(--spacing-16x);
}

.hero__content {
    margin-bottom: var(--spacing-6x);
    z-index: 3;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero__title {
    color: var(--color-text-accent);
    font-family: var(--secondary-font);
    font-size: var(--text-size-title);
    font-weight: var(--fw-600);
    margin-bottom: var(--spacing-4x);
}

.hero__tag {
    position: relative;
    z-index: 2;
}

.hero__tag::after {
    background-image: url("../images/line.png");
    bottom: 5px;
    content: "";
    left: -15px;
    position: absolute;
    width: 110%;
    height: 8px;
    z-index: -1;
}

.hero__desc {
    max-width: 460px;
    margin: 0 auto;
    padding: var(--spacing-6x) 0;
}

.hero__action {
    gap: var(--spacing-8x);
}

.hero__btn {
    gap: var(--spacing-4x);
    color: #686d77;
    font-weight: var(--fw-500);
    text-align: left;
}

.hero__play {
    animation: Pulse 2s ease infinite;
    background-color: var(--color-bg-accent);
    border-radius: var(--radius-full);
    padding: var(--spacing-5x);
}

@keyframes Pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-bg-accent);
    }

    100% {
        box-shadow: 2px 2px 0px 15px transparent;
    }
}

.hero__banner {
    max-width: 480px;
    margin: 0 auto;
    width: 100%;
}

/* Service */
.service {
    position: relative;
}

.service__bg {
    top: 60px;
    position: absolute;
    right: 0;
    width: 100px;
}

.service__list {
    margin-top: var(--spacing-8x);
    gap: var(--spacing-10x);
}

.service__item {
    background: var(--color-bg-white);
    border-radius: var(--radius-lg);
    padding: var(--spacing-4x);
    gap: var(--spacing-3x);
    position: relative;
}

.service__item:nth-child(2) {
    box-shadow: var(--box-shadow-1);
}

.service__item:nth-child(2)::after {
    background-image: url("../images/destination-bg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -40px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.service__img {
    width: 60px;
    height: 60px;
}

.service__title {
    color: var(--color-text-primary-dark);
    font-family: var(--secondary-font);
    font-size: var(--text-size-h3);
    font-weight: var(--fw-500);
}

/* Destination  */
.dest {
    overflow: hidden;
}

.dest__list {
    margin-top: var(--spacing-8x);
    gap: var(--spacing-10x);
    position: relative;
}

.dest__list::after {
    content: "";
    background-image: url("../images/dest-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 10px;
    position: absolute;
    left: 72%;
    width: 100px;
    height: 300px;
    z-index: -1;
}

.dest__item {
    box-shadow: var(--box-shadow-1);
    border-radius: var(--radius-md);
    font-weight: var(--fw-500);
    position: relative;
    overflow: hidden;
}

.dest__item:hover>.dest__img {
    transform: scale(1.05);
}

.dest__img {
    transition: transform 800ms ease;
    margin-bottom: var(--spacing-2x);
    width: 100%;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.dest__content {
    background: var(--color-bg-white);
    border-radius: var(--radius-md);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    bottom: 0;
    padding: var(--spacing-8x) var(--spacing-5x);
    position: absolute;
    width: 100%;
    z-index: 3;
}

.dest__header {
    font-size: var(--text-size-title);
    margin-bottom: var(--spacing-2x);
}

.dest__duration {
    gap: var(--spacing-2x);
}

/* Book */
.book__steps {
    gap: var(--spacing-10x);
    margin-top: var(--spacing-8x);
}

.book__icon {
    max-width: 40px;
}

.book__title {
    margin: var(--spacing-4x) 0 var(--spacing-2x);
}

.book__cover {
    background-image: url("../images/book__cover.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: var(--spacing-4x);
}

.book__img {
    margin-top: var(--spacing-6x);
    width: 100%;
}

/* Testimonial */
.testimonial__img {
    width: 100%;
    max-width: 60px;
}

.testimonial__list {
    margin-top: var(--spacing-8x);
}

.testimonial__item {
    border-radius: var(--radius-sm);
    box-shadow: var(--box-shadow-2);
    margin: var(--spacing-1x) 0;
    padding: var(--spacing-4x);
}

.testimonial__desc {
    margin: var(--spacing-4x) 0 var(--spacing-6x);
}

.testimonial__owner {
    font-size: var(--text-size-h6);
    font-weight: var(--fw-500);
}

.testimonial__location {
    font-size: var(--text-size-small);
}

/* Partners  */
.partners__list {
    gap: var(--spacing-8x);
}

.partners__img {
    width: 130px;
}

/* Newsletter  */
.newsletter {
    position: relative;
}

.newsletter__bg {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100px;
    z-index: -1;
}

.newsletter__wrapper {
    background-image: url("../images/form-bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: var(--radius-lg);
    border-top-right-radius: 0;
    padding: var(--spacing-8x);
    width: 100%;
}

.newsletter__headline {
    font-size: var(--text-size-h5);
    font-weight: var(--fw-600);
    max-width: 800px;
    margin: 0 auto;
    line-height: var(--line-height-body);
}

.newsletter__form-control {
    height: 55px;
    margin: var(--spacing-6x) 0 var(--spacing-4x);
    position: relative;
    width: 100%;
}

.newsletter__input {
    background-color: var(--color-bg-white);
    border-radius: var(--radius-sm);
    border: var(--border-1);
    height: 100%;
    padding: 0 var(--spacing-4x) 0 var(--spacing-13x);
    width: 100%;
}

.newsletter__icon {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(25px, -50%);
}

.newsletter__btn {
    max-width: 100%;
    width: 100%;
}

/* Footer */
.footer__inner {
    padding-bottom: var(--spacing-5x);
}

.footer__list {
    font-weight: var(--fw-500);
    gap: var(--spacing-8x);
}

.footer__item {
    gap: var(--spacing-4x);
}

.footer__nav-list {
    gap: var(--spacing-1x);
}

.footer__logo {
    width: 120px;
}

.footer__title {
    color: var(--color-text-primary-dark);
    font-size: var(--text-size-h4);
    font-weight: var(--fw-600);
}

.footer__text {
    font-size: var(--text-size-h6);
    font-weight: var(--fw-500);
    margin: var(--spacing-2x) 0 var(--spacing-4x);
}

.footer__text--small {
    font-size: var(--text-size-small);
    max-width: 250px;
}

.footer-brand {
    gap: unset;
}

.footer__social {
    gap: var(--spacing-2x);
}

.footer__store {
    gap: var(--spacing-3x);
}

.footer__rights {
    font-size: var(--text-size-small);
    margin-top: var(--spacing-5x);
}

/*<--------------------> 
   #Screen Breakpoints
/*--------------------->*/

/* Screen larger than 575px  */
@media only screen and (min-width: 575px) {

    /* Layout  */
    .l-container {
        max-width: 545px;
        margin: 0 auto;
    }
}

/* Screen larger than 760px  */
@media only screen and (min-width: 760px) {

    /* Root  */
    :root {
        --text-size-h1: 5rem;
        --text-size-h2: 3.95rem;
        --text-size-h4: 1.407rem;
        --text-size-h5: 2.6rem;
    }

    /* Layout  */
    .l-container {
        max-width: 720px;
    }

    /* Utilities */
    .u-headline-md {
        max-width: 640px;
    }

    /* Hero  */
    .hero::after {
        width: 300px;
        height: 400px;
    }

    .hero__action {
        gap: var(--spacing-8x);
        flex-direction: row;
    }

    .hero__btn {
        gap: var(--spacing-5x);
    }

    /* Service  */
    .service__list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: var(--spacing-12x);
    }

    /* Destination  */
    .dest__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-6x);
        margin-top: var(--spacing-12x);
    }

    .dest__list::after {
        left: 260px;
    }

    .dest__item {
        width: 46.8%;
    }

    /* Book  */
    .book__steps {
        grid-template-columns: repeat(2, 1fr);
        margin-top: var(--spacing-12x);
    }

    /* Testimonials  */
    .testimonial__item {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--spacing-6x);
    }

    /* Partners  */
    .partners__list {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Newsletter  */
    .newsletter__headline {
        margin-bottom: var(--spacing-6x);
    }

    .newsletter__form-control {
        margin: 0;
    }

    .newsletter__form-group {
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-4x);
        max-width: 500px;
        margin: 0 auto;
    }

    .newsletter__btn {
        width: unset;
    }

    /* Footer  */
    .footer__list {
        grid-template-columns: 1fr repeat(2, 0.55fr);
    }


}

/* Screen larger than 992px  */
@media only screen and (min-width: 992px) {

    /* Layout  */
    .l-container {
        max-width: 940px;
    }

    .l-inner {
        padding-top: var(--spacing-23x);
        padding-bottom: var(--spacing-23x);
    }

    /* Utilities */
    .u-headline-md {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* Header  */
    .header__overlay,
    .header__menu {
        display: none;
    }

    .logo {
        width: 120px;
    }

    .navbar {
        background-color: transparent;
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-12x);
        height: unset;
        justify-content: right;
        max-width: unset;
        opacity: 1;
        position: static;
        padding: 0;
        transform: unset;
    }

    .navbar__header {
        display: none;
    }

    .navbar__list {
        flex-direction: row;
        gap: var(--spacing-10x);
    }

    .navbar__action {
        margin: 0;
        gap: var(--spacing-10x);
    }

    /* Hero  */
    .hero::after {
        width: 640px;
        height: 640px;
        z-index: 1;
    }

    .hero__inner {
        grid-template-columns: 1fr 0.8fr;
        position: relative;
    }

    .hero__content {
        text-align: left;
        align-items: flex-start;
    }

    .hero__desc {
        margin: 0;
    }

    .hero__banner {
        z-index: 3;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Service  */
    .service__list {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-5x);
    }

    .service__item {
        align-items: center;
        gap: var(--spacing-4x);
        text-align: center;
    }

    /* Destination  */
    .dest__list {
        flex-wrap: nowrap;
        gap: var(--spacing-6x);
    }

    .dest__list::after {
        right: -40px;
        left: unset;
    }

    .dest__item {
        width: 33.333%;
    }

    /* Book  */
    .book__inner {
        gap: var(--spacing-8x);
        grid-template-columns: 1fr 0.8fr;
        align-items: center;
    }

    .book__title {
        text-align: left;
        margin: 0;
    }

    .book__headline {
        text-align: left;
        max-width: 520px;
    }

    .book__steps {
        grid-template-columns: 1fr;
        margin-top: var(--spacing-12x);
    }

    .book__steps-item {
        align-items: flex-start;
        flex-direction: row;
        gap: var(--spacing-4x);
        max-width: 400px;
    }

    .book__cover {
        align-items: center;
        display: flex;
        height: 100%;
        margin: 0;
    }

    .book__img {
        margin: 0;
    }

    /* Testimonials */
    .testimonial__inner {
        flex-direction: row;
    }

    .testimonial__column {
        width: calc(55% - 50px);
        margin-left: auto;
    }

    .testimonial__header {
        width: 45%;
        margin-left: 0;
    }

    .testimonial__title,
    .testimonial__headline {
        text-align: left;
    }

    /* Partners  */
    .partners__list {
        flex-direction: row;
        justify-content: space-between;
    }

    .partners__img {
        width: 150px;
    }

    /* Newsletter  */
    .newsletter__headline {
        margin-bottom: var(--spacing-6x);
    }

    /* Footer  */
    .footer__inner {
        padding-bottom: var(--spacing-10x);
    }

    .footer__logo {
        width: 150px;
    }

    .footer__list {
        grid-template-columns: 1fr repeat(3, 0.55fr) 0.75fr;
        margin-bottom: var(--spacing-10x);
    }

    .footer__rights {
        text-align: center;
    }
}

/* Screen larger than 1280px  */
@media only screen and (min-width: 1280px) {

    /* Root  */
    :root {
        --text-size-h1: 6.58rem;
    }

    /* Layout  */
    .l-container {
        max-width: 1200px;
    }

    /* Header  */
    .navbar {
        gap: var(--spacing-16x);
    }

    .navbar__list {
        gap: var(--spacing-16x);
    }

    /* Hero */
    .hero__inner {
        gap: 0;
        grid-template-columns: 1fr 0.8fr;
    }

    .hero__banner {
        max-width: 580px;
    }

    /* Service  */
    .service__item {
        padding: var(--spacing-8x);
    }

    /* Destination  */
    .dest__list {
        gap: var(--spacing-8x);
    }

    /* Partners  */
    .partners__img {
        width: 170px;
    }

    /* Footer  */
    .footer__list {
        grid-template-columns: 1fr repeat(3, 0.65fr) 0.8fr;
    }
}